@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: rgb(77, 38, 84);
  background: linear-gradient(117deg, rgba(77, 38, 84, 1) 0%, rgba(41, 26, 74, 1) 30%, rgba(41, 26, 74, 1) 70%, rgba(77, 38, 84, 1) 100%);
  padding-top: 5rem;
}

.to-do-app img {
  display: inline-block;
  width: 100px;
}

h1 {
  display: inline-block;
  font-size: 48px;
  color: #7e57c2;
}

.to-do-app {
  width: 100%;
  max-width: 800px;
  background: white;
  margin: 2rem auto 1rem;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 5rem;
}

.form-box {
  width: max-content;
  margin-inline: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#input-box {
  width: 500px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid#7e57c2;
}

#addBtn {
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  border: none;
  background-color: #7e57c2;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #7e57c2;
  margin-bottom: 3px;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 20px;
  color: white;
  font-size: 20px;
}

.strike {
  text-decoration: line-through;
}

li button {
  margin-left: 10px;
  cursor: pointer;
}
